.hidden-scroll {
  overflow: auto;
}
.hidden-scroll::-webkit-scrollbar {
  height: 8px;
}

.hidden-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(50, 50, 50);
  border-radius: 50px;
}
.hidden-scroll::-webkit-scrollbar-track {
  border-radius: 50px;
}

.hidden-scroll-vertical {
  overflow: auto;
}
.hidden-scroll-vertical::-webkit-scrollbar {
  width: 8px;
}

.hidden-scroll-vertical::-webkit-scrollbar-thumb {
  background-color: #2a2a2a;
  border-radius: 50px;
}

.categories h2 {
  color: #b1b1b1;
}
.categories svg {
  fill: #b1b1b1;
}

.categories .active {
  transition: ease-in-out 300ms;
  transform: scale(1.05);
  background-color: #b91f27;
}
.categories :after {
  content: "";
  position: absolute;
  /* margin-top: 1rem; */
  bottom: -30%;
  left: 30%;
  width: 65px;
  height: 5px;
  background-color: #b91f27;
  border-radius: 100px;
  transform: scaleX(0);
  transition: 300ms;
}
.categories .active:after {
  transform: scaleX(1);
}
.categories .active h2 {
  color: white;
}

#search-section .hide {
  visibility: hidden;
  transform: scale(0.3);
  transition: ease-in-out 500ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
#search-section .show {
  transform: scale(1);
  transition: ease-in-out 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.trailer-card:hover {
  transition: ease-in-out 200ms;
  transform: translateY(-30px);
}

.collection-poster img {
  transition: ease-in-out 200ms;
  transform: translateY(320px);
}

.collection-poster p {
  transition: ease-in-out 200ms;
  transform: translateY(300px);
  opacity: 0;
}

.collection-poster .container-img:hover img {
  transition: ease-in-out 200ms;
  transform: translateY(50px);
}
.collection-poster .container-img:hover p {
  transition: ease-in-out 200ms;
  transform: translateY(60px);
  opacity: 1;
}
.loader {
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  display: inline-grid;
  color: white;
}
.loader:before,
.loader:after {
  content: "Loading...";
  grid-area: 1/1;
  -webkit-mask: linear-gradient(90deg, #000 50%, #0000 0) 0 50%/2ch 100%;
  animation: l11 1s infinite cubic-bezier(0.5, 220, 0.5, -220);
}
.loader:after {
  -webkit-mask-position: 1ch 50%;
  --s: -1;
}
@keyframes l11 {
  100% {
    transform: translateY(calc(var(--s, 1) * 0.1%));
  }
}

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: #2a2a2a;
  border-radius: 50px;
}

.btn-back svg {
  z-index: 9;
  transform: translate(20px, 0px);
  transition: ease-in-out 300ms;
}
.btn-back:hover svg {
  z-index: 9;
  transform: translate(0px, 0px);
  transition: ease-in-out 300ms;
}

.dd-list li:hover {
  color: #b91f27;
}

/* HTML: <div class="loader"></div> */
.home-loader {
  width: 40px;
  aspect-ratio: 1;
  --c: linear-gradient(#fff 0 0);
  --r1: radial-gradient(farthest-side at bottom, #fff 93%, #ffff);
  --r2: radial-gradient(farthest-side at top, #fff 93%, #ffff);
  background: var(--c), var(--r1), var(--r2), var(--c), var(--r1), var(--r2),
    var(--c), var(--r1), var(--r2);
  background-repeat: no-repeat;
  animation: l2 1s infinite alternate;
}
@keyframes l2 {
  0%,
  25% {
    background-size: 8px 0, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px, 8px 0,
      8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(50% - 2px), 0 calc(50% + 2px), 50% 50%,
      50% calc(50% - 2px), 50% calc(50% + 2px), 100% 50%, 100% calc(50% - 2px),
      100% calc(50% + 2px);
  }
  50% {
    background-size: 8px 100%, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px, 8px 0,
      8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px), 50% 50%,
      50% calc(50% - 2px), 50% calc(50% + 2px), 100% 50%, 100% calc(50% - 2px),
      100% calc(50% + 2px);
  }
  75% {
    background-size: 8px 100%, 8px 4px, 8px 4px, 8px 100%, 8px 4px, 8px 4px,
      8px 0, 8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px), 50% 50%,
      50% calc(0% - 2px), 50% calc(100% + 2px), 100% 50%, 100% calc(50% - 2px),
      100% calc(50% + 2px);
  }
  95%,
  100% {
    background-size: 8px 100%, 8px 4px, 8px 4px, 8px 100%, 8px 4px, 8px 4px,
      8px 100%, 8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px), 50% 50%,
      50% calc(0% - 2px), 50% calc(100% + 2px), 100% 50%, 100% calc(0% - 2px),
      100% calc(100% + 2px);
  }
}

.hidden-scroll .fade-in {
  animation: fading 300ms ease-in-out;
}
@keyframes fading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header.is-hidden{
  /* height: 0rem; */
  transform: translateY(-70px);
  transition:ease-in-out 300ms;
}

header.active {
  transform: translateY(0px);
  transition:ease-in-out 200ms;
}

.sort-item option{
  background-color: white;
}

